<%- include('../header') %>
<%- include("../side-nav"); %>
<%- include("../top-nav"); %>
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Create or Update Plugin</h3>
      </div>

    </div>

    <div class="clearfix"></div>
  </div>
</div>
<!-- /page content -->

<!-- footer content -->
<%- include("../footer"); %>
