<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %> </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <% if(typeof errors !== 'undefined') {%>
       <!-- PNotify -->
       <link href="../vendors/pnotify/dist/pnotify.css" rel="stylesheet">
       <link href="../vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
       <link href="../vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <% }%>

    <!-- Custom Theme Style -->
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body style="background:#F7F7F7;">

    <div class="">
      <a class="hiddenanchor" id="toregister"></a>
      <a class="hiddenanchor" id="tologin"></a>

      <div id="wrapper">
        <div id="login" class=" form">
          <section class="login_content">
            <form action="/login" method="POST">
              <h1>Login</h1>
              <div>
                <input type="text" class="form-control" name="username" placeholder="Username" required="" />
              </div>
              <div>
                <input type="password" class="form-control" name="password" placeholder="Password" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Log in</a>
              </div>
              <div class="clearfix"></div>
              <div class="separator">

                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-space-shuttle" style="font-size: 26px;"></i> <%= title %>!</h1>

                  <p>&copy; 2016. All Rights are yours.</p>
                </div>
              </div>
            </form>
          </section>
        </div>

      </form>
    </section>
  </div>
</div>
    </div>
    <% if(typeof errors !== 'undefined') {%>

      <!-- jQuery -->
      <script src="/vendors/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="/vendors/fastclick/lib/fastclick.js"></script>
      <!-- iCheck -->
      <script src="../vendors/iCheck/icheck.min.js"></script>
      <!-- PNotify -->
      <script src="../vendors/pnotify/dist/pnotify.js"></script>
      <script src="../vendors/pnotify/dist/pnotify.buttons.js"></script>
      <script src="../vendors/pnotify/dist/pnotify.nonblock.js"></script>

       <script>
         $(document).ready(function() {
           new PNotify({
             title: "What the hell homie!!",
             type: "error",
             text: "<%= errors %>",
             styling: 'bootstrap3',
             hide: false
           });

         });
       </script>

    <% }%>
  </body>
</html>
