            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-info-circle"></i> Information <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/nodes/info">View</a>
                      </li>
                      <li><a href="/nodes/status">Status</a>
                      </li>
                      <li><a href="/nodes/add">Add Node</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-server"></i> APIs <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/apis/add">Add</a>
                      </li>
                      <li><a href="/apis/list">List</a>
                      </li>
                      <li><a href="/apis/update">Update</a>
                      </li>
                      <li><a href="/apis/upsert">Create or Update</a>
                      </li>
                      <li><a href="/apis/remove">Delete</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> Consumers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/consumers/add">Add</a>
                      </li>
                      <li><a href="/consumers/list">List</a>
                      </li>
                      <li><a href="/consumers/update">Update</a>
                      </li>
                      <li><a href="/consumers/upsert">Create or Update</a>
                      </li>
                      <li><a href="/consumers/remove">Delete</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-object-group"></i> Clusters <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/clusters/status">Status</a>
                      </li>
                      <li><a href="/clusters/remove">Remove Node</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-plug"></i> Plugins <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/plugins/add">Add</a>
                      </li>
                      <li><a href="/plugins/list/all">List All</a>
                      </li>
                      <li><a href="/plugins/list/api">List per API</a>
                      </li>
                      <li><a href="/plugins/update">Update</a>
                      </li>
                      <li><a href="/plugins/upsert">Create or Update</a>
                      </li>
                      <li><a href="/plugins/remove">Delete</a>
                      </li>
                      <li><a href="/plugins/retrieve/enabled">Retrieve Enabled</a>
                      </li>
                      <li><a href="/plugins/retrieve/schema">Retrieve Schema</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
