<%- include('../header') %>
<%- include("../side-nav"); %>
<%- include("../top-nav"); %>
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Retrieve API</h3>
      </div>
    </div>

    <div class="title_right">
      <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <select class="form-control">
              <option>Select API</option>
              <option>East Coast</option>
              <option>West Coast</option>
            </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>

      </div>
    </div>
    <div class="title_right">
      <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <select class="form-control">
              <option>Select Node</option>
              <option>East Coast</option>
              <option>West Coast</option>
            </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>

      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="x_title">
      <h2>Info</h2>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-5 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>upstream url</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>http://102.60.0.50:20003</code></p>

        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>request path</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>/users</code></p>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>id</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>12732452-8868684-178681</code></p>

        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>name</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>users-service</code></p>

        </div>
      </div>
    </div>

    <div class="col-md-5 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>created at</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>Sunday, February 14th 2010, 3:25:50 pm</code></p>

        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
      <div class="x_panel ">
        <div class="x_title">
          <h2>request host</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <p style="font-size:1.2em;"><code>/users</code></p>

        </div>
      </div>
    </div>


  </div>

  <div class="clearfix"></div>

</div>
</div>
<!-- /page content -->

<!-- footer content -->
<%- include("../footer"); %>




